## Baseline Models

In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
from sklearn import datasets
from sklearn import model_selection
from sklearn import linear_model
from sklearn import metrics

In [2]:
restaurants_df = pd.read_csv("./../datasets/basic_features.csv", index_col=None)
restaurants_df = restaurants_df.drop(restaurants_df.columns[0], axis=1)

In [3]:
restaurants_df.head()

,popularity,price_tier,outdoors,good_for_groups,has_credit_card,good_for_kids,has_delivery,caters
0,2,2,1,1,1,0,1,1
1,2,2,1,1,1,1,1,1
2,1,2,1,1,0,1,1,1
3,1,1,0,0,1,0,1,1
4,0,1,1,1,1,1,1,0

In [66]:
restaurants_df["popularity"].value_counts()

1    10186
2     9890
0     9887
Name: popularity, dtype: int64

In [67]:
restaurants_df = restaurants_df.sample(frac=1)

In [74]:
restaurants_df.head()

,popularity,price_tier,outdoors,good_for_groups,has_credit_card,good_for_kids,has_delivery,caters
12082,2,2,1,1,1,1,1,1
27444,2,2,1,1,1,1,1,1
24120,1,1,1,1,0,1,1,1
20685,2,2,1,1,1,1,1,1
16778,0,2,0,0,1,0,0,1

### Logistic Regression

In [68]:
X = restaurants_df[["price_tier", "outdoors", "good_for_groups", "has_credit_card", "good_for_kids", "has_delivery", "caters"]]

In [69]:
y = restaurants_df["popularity"]

In [70]:
X_train, X_test, y_train, y_test = model_selection.train_test_split(X, y, test_size= 0.2, random_state = 1)
print('X_train dimension= ', X_train.shape)
print('X_test dimension= ', X_test.shape)
print('y_train dimension= ', y_train.shape)
print('y_train dimension= ', y_test.shape)

X_train dimension=  (23970, 7)
X_test dimension=  (5993, 7)
y_train dimension=  (23970,)
y_train dimension=  (5993,)

In [71]:
lm = linear_model.LogisticRegression(multi_class='ovr', solver='liblinear')
lm.fit(X_train, y_train)

LogisticRegression(multi_class='ovr', solver='liblinear')

In [72]:
lm.score(X_test, y_test)

0.512431169697981

In [73]:
print(metrics.classification_report(y_test, lm.predict(X_test)))

              precision    recall  f1-score   support

           0       0.61      0.44      0.51      2015
           1       0.39      0.44      0.41      1965
           2       0.57      0.65      0.61      2013

    accuracy                           0.51      5993
   macro avg       0.52      0.51      0.51      5993
weighted avg       0.52      0.51      0.51      5993