# Restaurant Edges from CSV of Areas

In [1]:
import json
import pandas as pd
import numpy as np
import math
import time

In [2]:
restaurants_df = pd.read_csv("./datasets/restaurants_loc_only.csv")

In [3]:
restaurants_df = restaurants_df.rename(columns={"Unnamed: 0": "restaurant_id"})

In [4]:
restaurants_df.head()

,restaurant_id,business_id,city,is_open,latitude,longitude,postal_code,state
0,0,6iYb2HFDywm3zjuRg0shjw,Boulder,1,40.017544,-105.283348,80302,CO
1,1,tCbdrRPZA0oiIYSmHG3J0w,Portland,1,45.588906,-122.593331,97218,OR
2,5,D4JtQNTI4X3KcbzacDJsMw,Vancouver,1,49.251342,-123.101333,V5V,BC
3,12,HPA_qyMEddpAEtFof02ixg,Peabody,1,42.541155,-70.973438,01960,MA
4,13,ufCxltuh56FF4-ZFZ6cVhg,Orlando,1,28.513265,-81.374707,32806,FL

In [5]:
atlanta_edges_df = pd.read_csv("./datasets/atlanta_edges.csv")
len(atlanta_edges_df)

294989

In [6]:
austin_edges_df = pd.read_csv("./datasets/austin_edges.csv")
len(austin_edges_df)

244191

In [7]:
boston_edges_df = pd.read_csv("./datasets/boston_edges.csv")
len(boston_edges_df)

911256

In [8]:
boulder_edges_df = pd.read_csv("./datasets/boulder_edges.csv")
len(boulder_edges_df)

26157

In [9]:
colombus_edges_df = pd.read_csv("./datasets/colombus_edges.csv")
len(colombus_edges_df)

145661

In [10]:
orlando_edges_df = pd.read_csv("./datasets/orlando_edges.csv")
len(orlando_edges_df)

320238

In [12]:
portland_edges_df = pd.read_csv("./datasets/portland_edges.csv")
len(portland_edges_df)

826806

In [13]:
vancouver_edges_df = pd.read_csv("./datasets/vancouver_edges.csv")
len(vancouver_edges_df)

959895

In [14]:
atlanta_edges_df.head()

   id1   id2  distance
0   62    86       385
1   62   165       494
2   62   757       405
3   62   818       111
4   62  1343        78

In [15]:
edges_df = atlanta_edges_df.append(austin_edges_df).append(boston_edges_df).append(boulder_edges_df) \
    .append(colombus_edges_df).append(orlando_edges_df).append(portland_edges_df).append(vancouver_edges_df)

In [16]:
len(edges_df)

3729193

In [17]:
edges_df.to_csv("./restaurant_edges.csv", index=False)