# Restaurant Edges from CSV of Areas

In [1]:
import json
import pandas as pd
import numpy as np
import math
import time

In [2]:
atlanta_edges_df = pd.read_csv("./../datasets/area_edges/atlanta_edges_df.csv")
len(atlanta_edges_df)

43484

In [3]:
austin_edges_df = pd.read_csv("./../datasets/area_edges/austin_edges_df.csv")
len(austin_edges_df)

38202

In [4]:
boston_edges_df = pd.read_csv("./../datasets/area_edges/boston_edges_df.csv")
len(boston_edges_df)

130824

In [5]:
boulder_edges_df = pd.read_csv("./../datasets/area_edges/boulder_edges_df.csv")
len(boulder_edges_df)

8397

In [6]:
colombus_edges_df = pd.read_csv("./../datasets/area_edges/colombus_edges_df.csv")
len(colombus_edges_df)

19129

In [7]:
orlando_edges_df = pd.read_csv("./../datasets/area_edges/orlando_edges_df.csv")
len(orlando_edges_df)

37901

In [8]:
portland_edges_df = pd.read_csv("./../datasets/area_edges/portland_edges_df.csv")
len(portland_edges_df)

104714

In [9]:
vancouver_edges_df = pd.read_csv("./../datasets/area_edges/vancouver_edges_df.csv")
len(vancouver_edges_df)

111552

In [10]:
atlanta_edges_df.head()

                      id1                     id2  distance
0  Q2vefh0tGhtCGQDK1FI7cw  ssK5vKQ_eN0VyGoYKOmkeQ       441
1  Q2vefh0tGhtCGQDK1FI7cw  tSZTPA7uERhWkKq_jbl3Eg       209
2  Q2vefh0tGhtCGQDK1FI7cw  bSy6VVJIdYPza1Bj9_Eicw       450
3  Q2vefh0tGhtCGQDK1FI7cw  Z5iQ4LXTbNbYZ5HkpJVWBQ       279
4  Q2vefh0tGhtCGQDK1FI7cw  dYiOhCuOWJRlwOZb1lCBsA       489

In [11]:
edges_df = atlanta_edges_df.append(austin_edges_df).append(boston_edges_df).append(boulder_edges_df) \
    .append(colombus_edges_df).append(orlando_edges_df).append(portland_edges_df).append(vancouver_edges_df)

In [12]:
len(edges_df)

494203

In [13]:
edges_df.to_csv("./2017-2018_restaurant-edges.csv", index=False)